<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="x.x.x"
	android:versionCode="1"
	android:versionName="1.0"
	android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="4"/>
    <application android:label="@string/theme_title" android:icon="@drawable/theme_icon">
        <activity
            	android:name=".IconPack"
            	android:enabled="@bool/enableIconPack"
				android:label="@string/icon_pack_title"
            	android:icon="@drawable/theme_icon"
				tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />                
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>              
        </activity>
        <activity
            android:name=".DockPack"
            android:enabled="@bool/enableDockPack"
            android:label="@string/dock_pack_title"
            android:icon="@drawable/theme_icon"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <provider 
            android:name=".DocksProvider"
            android:enabled="@bool/enableDockPack"  
            android:authorities="x.x.x.DocksProvider"
            tools:ignore="ExportedContentProvider"/>
    </application>
</manifest>